* {
  font-family: Helvetica;
}

body {
  padding: 15px;
}

.hide {
  display: none;
}

a,
input[type="submit"] {
  background-color: #007BFF;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  opacity: 0.7;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

a:hover,
input[type="submit"] {
  opacity: 1;
}