* {
  font-family: Helvetica;
}

body {
  background-color: rgb(19, 19, 19);
  padding: 15px;
}

.hide {
  display: none;
}

a,
input[type="submit"] {
  background-color: #ff0000;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  opacity: 0.7;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

a:hover,
input[type="submit"] {
  opacity: 1;
}

form {
  width: 300px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
}

form label {
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 0.3em;
}

form input,
form textarea {
  color: #fff;
  background-color: #2bff0023;
  padding: 5px;
}

form textarea:hover {
  opacity: 60%;
}

form input:hover {
  opacity: 60%;
}

#blog {
  display: grid;
  margin-left: 4rem;

}
h1 {
  display: flex;
  padding-left: 15rem;
  font-size: 3rem;
  text-transform: capitalize;
  text-decoration: underline;
  color: #00ff6ad8;
}

h2 {
  font-size: 2rem;
  color: #ff0000b9;
  text-decoration: underline
}

h3 {
  color: #ff0015c5;
}


p {
  color: #00ff6a79;
}

div {
  padding-bottom: 2.5rem;
}

#post {
  display: grid;
  margin-left: 4rem;
}

#voltar-post {
  width: 45px;
  justify-content: center;
}